<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  
  	<div>
  		{% for li in line_items %}
  			{{li.unit}}
  		{% endfor %}
  		Items in Current Invoice:
		
  		<br>
		{{ invoice.key.id }} {{invoice.description}} created at: {{invoice.date_added}}
    		<table>
		{% for li in line_items %}
    			<form action="/invoice/edit/"+{{li.key.id}} method="post">
			<tr>
    				<td>
    					Date Worked:
    				</td>
    				<td>
    					<input type='text' name='date' value ={{li.date_worked}}/>
    				</td>
    			</tr>
    			<tr>
    				<td>
    					Number of Units worked:
    				</td>
    				<td>
    					<input type='text' name='units_billed' value={{li.units_billed}}/>
    				</td>
    			</tr>
    			<tr>
    				<td>
    					Hour(s) or Day(s)
    				</td>
    				<td>
    					<select name='units'>
    					{%for unit in units %}
    						<option value={{ unit }} >{{ unit }}</option>
    					{% endfor %}
    					</select>
    				</td>
    			</tr>
    			<tr>
    				<td>
    					rate
    				</td>
    				<td>
    					<input type='text' name='rate' {{ li.rate }}>
    				</td>
    			</tr>
    			<tr>
    			<td colspan='2'>

    				 
      					<div><input type="submit" value="Edit Record"></div>
    			{% endfor %}				
    		</table>
    
      	
	
    <a href="{{ url }}">{{ url_linktext }}</a>

  </body>
</html>
