<html>
  <head>
     <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.css" />
  </head>
  <body>
  
  	<div>
  		
  		Items in Current Invoice:
		  
  		<br>
	
    	
		{% for li in line_items %}
      <table class='table'>
    	<form action="/item/update" method="post">
            <input type='hidden' name="id" value={{li.key.id}}> </input>		
			<tr>
    				<td>
    					Date Worked:
    				</td>
    				<td>
    					<input type='text' name='date' value ={{li.date_worked|date:"SHORT_DATE_FORMAT"}}></input>
    				</td>
    				<td>
    					Number of Units worked:
    				</td>
    				<td>
    					<input type='text' name='units_billed' value={{li.units_billed}}> </input>
    				</td>
    				<td>
    					Hour(s) or Day(s)
    				</td>
    				<td>
    					<select name='units'>
    					{%for unit in units %}
    						{% ifequal li.unit unit %}
    						<option value={{ unit }}  selected>{{ unit }}</option>
    						{%else%}
    						<option value={{ unit }} >{{ unit }}</option>
    						{% endifequal %}
    					{% endfor %}
    					</select>
    				</td>
    				<td>
    					rate
    				</td>
    				<td>
    					<input type='text' name='rate' value={{ li.rate }}>
    				</td>
          
    				 <td>
    				 	
      						<input type="submit" value="Edit Record">

      					
      				</td>
      				</div>
      			</tr>
            </table>
      			</form>
    			{% endfor %}
          <form action = "/item/add" method = 'get'>
            <input type= 'hidden' value= {{invoice.key.id}} name='invoice_id'> </input>
            <input type ='submit' value='Add another item to this invoice'>
          </form>
    							
    		
    
      	
	
    <a href="{{ url }}">{{ url_linktext }}</a>

  </body>
</html>
