<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.css" />
  </head>
  <body>
  
  	<div>
  		Last {{count}} invoice(s):
  		<br>
  	{% if invoices %}
    	
    		<table class='table table-striped'>
          <th>id</th>
          <th>description</th>
          <th>date added</th>
          <th> sent? </th>
          <th> edit </th>
          {% for invoice in invoices %}
    			<tr>
				<td> {{invoice.key.id}} </td>
    				<td>{{ invoice.description }}</td>
    				<td>{{ invoice.date_added }} </td>
    				<td>{% if invoice.sent %}
    					 Sent
    				 	{% else %}
    				 	<b>not</b> sent </td>
    					{% endif %}
    				
    				<td>{% if invoice.void %}
    					Voided
    					{% endif %} 
				</td>
				<td>	
					<form action="/item/edit" method="get">
						<input type='hidden' name='id' value={{invoice.key.id}}
      					<div><input type="submit" value="Edit Invoice"></div>
    					</form>
    			</tr>
			 {% endfor %}
    		</table>
      	
	{%endif%}
	
    <form action="/invoice/add" method="get">
      <div><input type="submit" value="Add Invoice"></div>
    </form>

    <a href="{{ url }}">{{ url_linktext }}</a>

  </body>
</html>
